
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html
{
    background: #f7f4eae0 ;
}
body
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.header
{
    background-image: url(../images/background.jpg) ;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.575);
}


.welcome
{
    flex: none;
    margin-left: 10%;
    margin-top: 115px;
    font-size: 30px;
    line-height: 60px;
    color: #F0F4EF;
}

.team-name
{
    flex: none;
    margin-right: 10%;
    margin-top: 115px;
    font-size: 30px;
    line-height: 60px;
    color: #F0F4EF;
}


a
{
    text-decoration: none;
}

.navbar
{
    position: fixed;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    gap: 7%;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar a
{
    position: relative;
    font-size: 18px;
    color: #443850 ;
    font-weight: 500;

}


.navbar a:hover::before
{
    width: 100%;
    background: #7C90DB;
}
.navbar a::before
{
    content: '';
    position: absolute;
    width: 0;
    top:100%;
    left: 0;
    height: 3px;
    background: #f7f4eae0;
    transition: 0.3s;
}
